body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(to bottom left, transparent 25%, rgb(226, 51, 54) 65%),
    linear-gradient(to bottom right, transparent 10%, rgb(28, 185, 196) 80%),
    linear-gradient(to top right, transparent 4%, rgb(150, 19, 220) 50%);

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90%;
    min-height: 90%;
  }
  
  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #083ce8;
    margin-bottom: 40px;
  }
  
  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    padding: 30px 40px;
    background-color: rgba(167, 141, 141, 0.158);
    border: 2px solid rgba(195, 15, 162, 0.3);
    border-radius: 7px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 15px;
    color: #0ea7fa;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: 3px solid rgba(3, 0, 0, 0);
    border-radius: 4px;
    font-size: 15px;
    margin-top: 6px;
    padding: 6px;
    width: 90%;
    background-color: rgba(229, 240, 240, 0.3);
  }
  
  input[type="submit"] {
    background-color: #2a5de8;
    border: 3px solid #06c4dd;
    border-radius: 5px;
    color: #eee9e9;
    font-size: 18px;
    margin-top: 17px;
    padding: 5px;
    width: 90%;
  }
  
  a {
    color: #040003;
    font-weight: bold;
  }
  
 